* {
    border-style: none;
    color: black;
    font-family: Calibri, Arial, sans-serif;
    font-size: 3vh;
    font-weight: normal;
    margin: 0px;
    padding: 0px;
}

#companyAside {
    padding-top: 4vh;
}

.error-message {
    color: red;
    font-size: 1.5vh;
}

.feedback-message {
    font-size: 2vh;
    text-align: center;
    padding-bottom: 2vh;
}

.flex-contact {
    display: flex;
    width: 100vw;
    height: 100vh;
    padding-top: 2vh;
    justify-content: center;
}

.flex-contact form {
    width: 40vh;
    background-color: lightgrey;
    border: 0.5vh solid white;
    border-radius: 4vh;
    padding: 4vh;
}

.flex-container {
    display: flex;
}

.flex-container aside {
    width: 20vw;
    height: 100vh;
    padding-top: 4vh;
}

.flex-container aside img {
    width: 20vw;
}

.flex-container aside figcaption {
    font-size: 2vh;
    text-align: center;
    padding-top: 1vh;
    padding-bottom: 1vh;
}

.flex-container aside footer {
    text-align: center;
    line-height: 0.25;
}

.flex-container aside small {
    font-size: 1vh;
}

.flex-container main {
    width: 80vw;
    padding-left: 2vh;
}

.flex-container table {
    display: flex;
    justify-content: center;
    padding: 2vh;
}

.flex-nav {
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 6vh;
    padding-top: 2vw;
    padding-bottom: 2vw;
}

.flex-nav ul {
    display: flex;
    list-style-type: none;
    padding: 1vh 4vw;
}

.flex-nav a {
    border-style: solid;
    border-radius: 4vh;
    background-color: darkblue;
    color: white;
    font-size: 3vh;
    padding: 1vh 4vw;
}

.flex-nav a:hover {
    background-color: black;
}

a {
    color: darkblue;
    text-decoration: none;
}

a:hover {
    background-color: lightblue;
}

body {
    background-color: lightgrey;
}

h1 {
    color: darkblue;
    font-size: 5vh;
    font-weight: bold;
    text-align: center;
}

h2 {
    color: darkblue;
    font-size: 4vh;
    font-weight: bold;
    padding-top: 2vw;
    padding-left: 1vw;
}

h3 {
    color: darkblue;
    font-size: 3vh;
    font-weight: bold;
    padding-top: 2vw;
    padding-left: 1vw;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 8vh;
    background-color: white;
}

iframe {
    width: 100%;
    height: 100%;
}

input[type=text],
select {
    display: inline-block;
    width: 100%;
    border-radius: 1vh;
    box-sizing: border-box;
    font-size: 2vh;
    margin-top: 1vh;
    padding: 1vh;
}

input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    border: solid;
    border-radius: 4vh;
    cursor: pointer;
    color: white;
    padding: 2vh;
    margin-top: 2vh;
}

input[type=submit]:hover {
    background-color: #45a049;
}

ul {
    list-style-type: square;
    list-style-position: inside;
    padding-left: 4vw;
    padding-right: 4vw;
}

p {
    padding-top: 1vw;
    padding-left: 2vw;
}

textarea {
    width: 100%;
    height: 10vh;
    box-sizing: border-box;
    border-radius: 1vh;
    font-size: 2vh;
    padding: 1vh;
}

td {
    padding: 1vh;
}

tr:nth-child(even) {
    background-color: white;
}

tr:hover {
    background-color: lightblue;
}

tr:nth-child(even):hover {
    background-color: lightblue;
}

th {
    background-color: darkblue;
    color: white;
}

video {
    box-sizing: border-box;
    max-width: 100%;
    height: auto;
    border: 10px solid black;
    border-radius: 20px;
    opacity: 0.5;
}

@media print {
    aside {
        display: none;
    }

    nav {
        display: none;
    }
}